[submodule "matching"]
	path = extlib/weighted-bipartite-perfect-matching
	url = git@github.com:jamespayor/weighted-bipartite-perfect-matching.git
[submodule "ribbon"]
	path = extlib/ribbon
	url = git@github.com:lorenzhs/ribbon.git
[submodule "cmph"]
	path = extlib/cmph
	url = git@github.com:bonitao/cmph.git
[submodule "sux"]
	path = extlib/sux
	url = git@gitlab.com:ByteHamster/sux.git
[submodule "extlib/pthash"]
	path = extlib/pthash
	url = git@github.com:jermp/pthash.git
[submodule "extlib/BBHash"]
	path = extlib/BBHash
	url = git@github.com:rizkg/BBHash.git
