[submodule "ribbon"]
	path = extlib/ribbon
	url = git@github.com:lorenzhs/BuRR.git
[submodule "sux"]
	path = extlib/sux
	url = git@github.com:ByteHamster-etc/sux.git
[submodule "extlib/util"]
	path = extlib/util
	url = git@github.com:ByteHamster/Util.git
